<ion-view view-title="{{genCtrl.thisGame}}">
  <ion-content>
    <ion-list>
      <!-- TODO: Add filter bar for search-as-you-go functionality -->
      <ion-item>
        <label class="item item-input">
          <i class="icon ion-search placeholder-icon"></i>
          <input type="text" placeholder="Search" ng-model="genCtrl.searchQuery">
        </label>
      </ion-item>
      <ion-item collection-repeat="poke in genCtrl.dataAsArray | filter: genCtrl.searchQuery" ng-click="genCtrl.goToPoke(poke.nationalDex + '', poke.name + '', poke.form + '')">
        {{poke.nationalDex}} - {{poke.name}}
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
