<ion-view view-title="{{locCtrl.data.nationalDex}} - {{locCtrl.data.name}}">
  <ion-content>
    <ion-list>
      <ion-item class="item-divider loud">
        {{locCtrl.locationsHeader}}
      </ion-item>
      <!-- TODO: Add filtering so that only the selected games are shown -->
      <ion-item class="item-divider item-text-wrap" ng-if="locCtrl.requestedData == 'Missing'">
        No wild encounter locations were found for this Pokemon in this game.<br /><br />
        Generally this means that the Pokemon is available through some other means, such as trading, breeding, or special events.
      </ion-item>
      <ion-item class="item-divider item-text-wrap" ng-if="locCtrl.requestedData == 'ORAS'">
        Wild Encounter Locations are not yet available for Pokemon in Omega Ruby or Alpha Sapphire. Please check back later!
      </ion-item>
      <div ng-repeat="(singleGame, unusedVal) in locCtrl.transformedLocations" ng-if="locCtrl.requestedData == 'OK'">
        <ion-item class="item-divider" ng-click="locCtrl.toggleGroup(singleGame)" ng-class="{active: locCtrl.isGroupShown(singleGame)}">
          <i class="icon" ng-class="locCtrl.isGroupShown(singleGame) ? 'ion-minus' : 'ion-plus'"></i>
          {{singleGame}}
        </ion-item>
        <ion-item ng-repeat="test in locCtrl.transformedLocations[singleGame] | toArray | naturalSort" class="item-accordion" ng-show="locCtrl.isGroupShown(singleGame)">
          <ion-item class="item-divider item-text-wrap no-side-borders" ng-click="locCtrl.toggleSubGroup(test.$key)" ng-class="{active: locCtrl.isSubGroupShown(test.$key)}">
            <i class="icon" ng-class="locCtrl.isSubGroupShown(test.$key) ? 'ion-minus' : 'ion-plus'"></i>
            {{test.$key}}
          </ion-item>
          <ion-item ng-repeat="(encounterMethod, encounterChance) in locCtrl.transformedLocations[singleGame][test.$key]" class="item-accordion item-text-wrap no-side-borders center-text add-vertical-padding" ng-show="locCtrl.isSubGroupShown(test.$key)">
            <span class="loud">{{encounterMethod}}:</span><br />{{encounterChance}} chance of encounter
          </ion-item>
        </ion-item>
      </div>
    </ion-list>
  </ion-content>
</ion-view>
