<ion-view view-title="" hide-back-button="true">
  <ion-content>
    <div class="card">
      <div class="item item-text-wrap loud">
        {{welcomeCtrl.title}}
      </div>
      <div class="item item-text-wrap">
        {{welcomeCtrl.greeting}}
      </div>
    </div>
    <div class="card">
      <div class="item item-text-wrap loud">
        {{welcomeCtrl.instructionsHeader}}
      </div>
      <div class="item item-text-wrap">
        {{welcomeCtrl.instructionsContent}}
      </div>
    </div>
    <div class="card">
      <div class="item item-text-wrap loud">
        {{welcomeCtrl.creditHeader}}
      </div>
      <div class="item item-text-wrap">
        {{welcomeCtrl.creditContent}}
      </div>
    </div>
    <!--<button type="button" ng-click="appCtrl.showMenu()" >Pick</button>-->
  </ion-content>
</ion-view>
